@import "tailwindcss";

@theme {
  --color-background: transparent;
  --color-foreground: #1a1a1a;
  --color-card: #f9fafb;
  --color-border: #e5e7eb;
  
  --color-dark-background: transparent;
  --color-dark-foreground: #f2f2f2;
  --color-dark-card: #1a1a1a;
  --color-dark-border: #333333;
}

@layer base {
  html {
    color: var(--foreground);
  }
  
  .dark {
    --foreground: var(--color-dark-foreground);
    --card: var(--color-dark-card);
    --border: var(--color-dark-border);
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}